@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

*{
    font-family: "Yrsa", 'serif';
}
* {
    box-sizing: border-box;
}





 